/*БЛОК ХЕДЕР*/

/*-*/


/*БЛОК БЛОГ ФИЛЬТР*/

.blog_all_full {
    background: #f5f5f5;
}

.blog_all {
    padding-top: 80px;
    padding-bottom: 80px;
}

.h3_ba{
    text-transform: uppercase;
    color: #212121;
    font: 400 27.78px Roboto;
}

.main_menu_full_ba {
    background: none;
    
}

ul.ul_main_menu_ba li a {
    color: #616161;
}

.hr_ba {
    background-color: rgba(189, 189, 189, 0.5)
}

.blog_grid_ba {
    margin-top: 40px;    
}

.blog_panel {
    padding: 0 0 14px 0;
    background-color: #eeeeee;
}

.blog_panel h3 {
    text-transform: uppercase;
    color: #212121;
    font: 400 19.44px / 27.778px Roboto;
    margin: 15px 20px 15px 20px;
}

.blog_panel p {
    color: #616161;
    font: 400 16.67px / 27.778px Roboto;
    margin: 15px 20px 15px 20px;
}

.panel_bottom {
    margin: 15px 20px;
}

.blog_panel .panel_bottom a{
    font: 400 19.44px / 24px Roboto;
    text-transform: uppercase;
    color: #ff9700;
    float: left;
}

.blog_panel .panel_bottom a:hover {
    text-decoration: none;
}


.blog_panel span{
    font-size: 15px;
    font-weight: 400;
    color: #616161;
    margin-left: 10px;
}

.overlay_ba {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    
    color: #f5f5f5;
    font: 400 15.28px Roboto;
}





/*БЛОК ФУТЕР*/

.dev-footer-correcr {
    margin-top: 0;
}
