/*БЛОК ХЕДЕР*/



/*БЛОК ДОСТАВКА В КРАСНОДАРЕ*/

/*-*/


/*БЛОК СКИДКА*/



/*БЛОК ТЕХНОЛОГИЯ ПРОИЗВОДСТВА*/

.advantages_full_cs ul .ad_panel_cs {
    padding: 0 18px 42px 18px;
}

.advantages_full_cs h3 {
    margin-bottom: 54px;
}

.advantages_full_cs .ad_panel_cs h4 {
    margin-bottom: 16px;
}

.advantages_full_cs .ad_panel_cs .ad_text p {
    margin-bottom: 8px;
    margin-top: 0;
}


/*БЛОК ОБЪЕКТЫ*/

.facilities_full {
    background-color: honeydew;
    background-image: none;    
}


/*БЛОК ДОКУМЕНТЫ*/

/*-*/


/*БЛОК ФУТЕР*/