/*БЛОК ХЕДЕР*/

/*-*/

/*БЛОК ДОСТАВКА В КРАСНОДАРЕ*/

/*-*/


/*БЛОК СКИДКА*/

.dev_container_order_cs {
    background: url(../images/c-pump.png) center no-repeat;
    background-color: rgba(255, 151, 0, 0.8);
/*    background-image: url(../images/c-pump.png);*/
    min-height: 516px;
}

.dev_container_order_cs h3 {
    margin-bottom: 0;
    padding-bottom: 25px;
}


/*БЛОК ТЕХНОЛОГИЯ ПРОИЗВОДСТВА*/

.advantages_full_cs ul .ad_panel_cs {
    padding: 0 18px 42px 18px;
}

.advantages_full_cs h3 {
    margin-bottom: 54px;
}

.advantages_full_cs .ad_panel_cs h4 {
    margin-bottom: 16px;
}

.advantages_full_cs .ad_panel_cs .ad_text p {
    margin-bottom: 8px;
    margin-top: 0;
}


/*БЛОК ОБЪЕКТЫ*/

.facilities_full {
    background-color: honeydew;
    background-image: none;
}

.facilities_cs {
    padding-top: 80px;
}

.facilities_slidenav_cs {
    position: absolute;
    top: -42px;
}

.facilities_ul_slider_cs {
    
}

.facilities_ul_slider_cs .facilities_1-li_cs{
    padding: 30px 30px 30px 30px;
}

.facilities_panel_cs {
    padding: 0;
    width: 320px;
    height: 360px;
    margin-left: 30px;
/*    background-color: #ff9700;*/
/*    background: url(../images/objects.png);*/
}

.facilities_img_cs {
    z-index: 1;
    display: block;
     overflow: hidden;
}

.facilities_panel_top_cs {
    height: 285px;
    width: 320px;
    background-color: rgba(255, 151, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    visibility: hidden;
}

.facilities_panel_top_cs img {
    position: absolute;
    top: 125px;
    left: 135px;
}

.facilities_panel_bottom_cs {
    height: 60px;
    padding-top: 15px;
    padding-left: 20px;
    background-color: rgba(33, 33, 33, 0.6);
    position: absolute;
    top: 285px;
    left: 0px;
    z-index: 2;    
    width: 300px;
}

.facilities_panel_bottom_cs p {
    color: #f5f5f5;
    font: 400 19.44px Roboto;
    margin-bottom: 0px;
}

.facilities_panel_bottom_cs span {
    color: #f5f5f5;
    font: 400 13.89px Roboto;
}

.facilities_panel_cs:hover
.facilities_panel_top_cs {
    visibility: visible; 
    -webkit-transition:0.7s
    transition: 0.7s ;
}

.facilities_panel_cs:hover 
.facilities_panel_bottom_cs {
    background-color: #ff9700;
    -webkit-transition: 0.2s
    transition: 0.2s;
    outline: 1px solid #ff9700;
}

.facilities_panel_cs:hover
.facilities_img_cs img {
    transform: scale(1.1);
    transition: 0.7s;
}
    
.facilities_panel_cs:hover 
.facilities_panel_top_cs img {
    transition: 0.7s;
}


/*БЛОК ДОКУМЕНТЫ*/

/*-*/


/*БЛОК ФУТЕР*/

/*-*/