.des-delivery-concrete {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f5f5f5;
}

.des-container-correct {
    max-width: 1130px;
    margin: 0 auto;
}

.des-contauner-content-delivery {
    background: #f5f5f5;
    /*    margin-bottom: 80px;*/
}

.des-contauner-content-delivery ul.uk-breadcrumb {
    text-align: center;
    color: #ff9700;
    /*    margin-top: 80px;*/
}

.des-contauner-content-delivery ul.uk-breadcrumb a {
    font-size: 15px;
    text-transform: inherit;
    color: #ff9700;
    /*
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
*/
}

.des-contauner-content-delivery ul.uk-breadcrumb li span {
    color: #bdbdbd;
}

.des-contauner-content-delivery h3 {
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

.des-content-panel {
    min-height: 595px;
    margin: 40px 0 0;
    padding: 0;
    background: #eee;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    /*    padding-bottom: 40px;*/
}

.des-panel-img {
    width: 100%;
    max-width: 496px;
    height: auto;
    margin: 40px auto 0;
    text-align: center;
}

.des-content-panel h4 {
    font-size: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #616161;
}

.des-test-invisible>form>ul {
    margin-bottom: 0;
    margin-left: 35px;
    padding: 0;
}

.des-test-invisible>form>ul>li {
    position: relative;
    margin-top: 10px;
    list-style: none;
}

.des-test-invisible>form>ul>li>i {
    position: absolute;
    top: 70%;
    left: -35px;
    width: 30px;
    text-align: center;
}

.des-test-invisible {
    display: none;
    min-height: 322px;
}

.des-test-visible {
    display: block;
    min-height: 322px;
}

.des-test-invisible ul {
    /*margin-top: 0;*/
}

.des-panel-discription .des-test-invisible ul li {
    /*height: 50px;
    padding-bottom: 0;
    padding-left: 30px;
    margin-bottom: 10px;*/
}

.des-test-invisible h4 {
    font-size: 19px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 0;
    text-transform: inherit;
    color: #212121;
}

.des-test-invisible>form>ul>li>i.des-ico-active {
    color: #fff;
}

.input-item-consumer-order-panel {
    position: relative;
    height: 46px;
    /*    padding: 16px 0 8px 0;*/
}

.input-item-consumer-order-panel::after {
    transition: transform 0.5s;
    transform: scaleX(0);
    background: #fff;
}

.input-item-consumer-order-panel::after,
.input-item-consumer-order-panel::before {
    position: absolute;
    bottom: -13px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #000;
    /*    transition: height 0.5s;*/
}

.input-item-consumer-order-panel-input {
    font-size: 18px;
    line-height: 16px;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    padding: 3px 0;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
}

.dev-consumer-order-panel-label {
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    display: block;
    margin: 0;
    transform: translateY(35px);
    color: lighten(#000, 75);
}

.has-label .dev-consumer-order-panel-label {
    font-size: 11px;
    transition: transform 0.5s;
    transform: translateY(15px) scale(1);
    color: #fff;
}

.has-label.input-item-consumer-order-panel::after {
    transform: scaleX(1);
    background: #fff;
}

.is-focused.input-item-consumer-order-panel::after {
    transition: transform 0.5s;
    transform: scaleX(1);
    background: #fff;
}

.is-focused .dev-consumer-order-panel-label {
    font-size: 11px;
    transform: translateY(15px) scale(1);
    color: #fff;
}

.des-panel-proportion {
    margin-top: 35px;
    margin-left: 40px;
}

.des-panel-proportion ul.uk-grid li {
    margin: 0;
    padding: 0;
}

.des-panel-discription {
    padding: 40px 40px 0;
}

.des-panel-discription h3 {
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    text-transform: inherit;
    color: #212121;
}

.des-panel-discription h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: #616161;
}

.des-panel-discription ul {
    /*margin-top: 40px;*/
}

.des-panel-discription ul.uk-tab li {
    position: relative;
    display: inline-block;
    padding: 0;
    border-radius: 2px;
}

.des-panel-discription ul.uk-tab li>a {
    border: 0;
    border-bottom: none;
    background: none;
}

.des-panel-discription ul.uk-tab li>a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    content: '';
    transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    background-color: #ff9700;
}

.des-panel-discription ul.uk-tab li:hover>a:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.des-panel-discription ul#des-panel-id li {
    /*padding: 0;*/
}

.des-panel-discription ul#des-panel-id li p {
    font-size: 18px;
    font-weight: 400;
    line-height: 31px;
    text-align: left;
    color: #616161;
}

div.des-panel-discription>div.des-test-invisible>form>ul>li>div>label.error {
    position: absolute;
    font-size: 12px;
    color: #000;
    top: 57px;
}

.des-content-panel ul.uk-grid li.uk-width-1-1 {
    /*padding-bottom: 0;*/
}

.des-panel-bottom {
    padding: 20px 40px 40px;
    /*margin: 20px;*/
}

ul>li>div.des-panel-bottom>ul>li>input {
    width: 160px;
    height: 40px;
    margin: 0;
    /*float: left;*/
    padding: 0;
    border: none;
    /*margin: 20px 0 40px 20px;*/
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .19);
}

ul>li>div.des-panel-bottom>ul>li>input:hover {
    transition: 0.7s;
    color: #000;
    border: none;
    background: #fdaa31;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .2);
}

.des-panel-bottom p {
    font-size: 22px;
    font-weight: 400;
    /*    margin: 0;*/
    /*text-align: left;*/
    text-align: center;
    color: #616161;
    /*margin: 0 auto;*/
    /*float: right;*/
    /*margin: 20px 50px 40px 0;*/
}

.des-panel-bottom p span {
    font-size: 17px;
    font-weight: 400;
    color: #616161;
}

.des-panel-li-fix {
    /*min-height: 130px;*/
}

.des-get-concrete-pomp {
    background: #c8c8c8;
}

.des-get-concrete-pomp-container {
    margin-bottom: -18px;
    padding-top: 50px;
    background: #c8c8c8;
}

.des-get-concrete-pomp-container h3 {
    text-align: center;
}

.des-get-concrete-pomp-container ul.dev-order-li-correct li {
    text-align: left;
}

.des-get-concrete-pomp-container ul.dev-order-li-correct li input.dev-but-submit-correct {
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .19);
}

.des-get-concrete-pomp-container ul.dev-order-li-correct li input.dev-but-submit-correct:hover {
    transition: 0.7s;
    color: #000;
    background: #ff9700;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .2);
}

.des-get-concrete-pomp-container>img.des-concrete-pomp-img {
    margin-top: 50px;
}

.des-our-app {
    background: #dfdfdf;
}

.des-our-app-content h3 {
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 0;
    text-align: center;
}

.des-our-app-content {
    padding: 80px 0;
}


/*.slider_our_app {
    position: relative;
    top: -42px;
}*/

.des-our-app .uk-slider-container {
    padding: 12px;
}

.des-our-app-content ul.uk-slider {
    /*margin-left: -17px;*/
}

.des-our-app-content div.dev-panel-correct h3 {
    text-align: left;
}


/*.des-our-app-content div.dev-panel-correct p {
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}

.des-our-app-content div.dev-panel-correct p span {
    font-size: 18px;
    font-weight: 500;
    text-transform: lowercase;
    color: #616161;
}*/

.des-advantages-cs {
    background: #f5f5f5;
}


/*переопределение цвета для анимации*/

div.des-get-concrete-pomp>div.des-get-concrete-pomp-container .des-ico-active-order {
    color: #ff9700;
}

div.des-get-concrete-pomp>div.des-get-concrete-pomp-container .has-label .dev-order-label {
    color: #ff9700;
}

div.des-get-concrete-pomp>div.des-get-concrete-pomp-container .is-focused .dev-order-label {
    color: #ff9700;
}

div.des-get-concrete-pomp>div.des-get-concrete-pomp-container .has-label.input-item::after {
    background: #ff9700;
}

div.des-get-concrete-pomp>div.des-get-concrete-pomp-container .is-focused.input-item::after {
    background: #ff9700;
}
