@media(max-width: 1220px) {
    .uk-container2 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .des-container-correct {
        padding-left: 15px;
        padding-right: 15px;
    }
    .advantages .plus_panel h4 {
        line-height: 26px;
    }
    .strip_top_menu .on_map .text {
        display: none;
    }
    ul.ul_main_menu li a {
        font-size: 15px;
    }
    .main_menu {
        max-width: 980px;
    }
    
}


@media(max-width: 1024px) {
    .con_text p{
        font: 400 16px / 61.111px Roboto;
    }
}

@media(max-width: 959px) {
    .uk-container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner_index {
        background: url(/images/video_background.jpg) center center no-repeat;
        background-size: cover;
    }
    .banner video {
        display: none;
    }
    .banner .sliden .slogan h1 {
        line-height: 55px;
    }
    .banner .sliden .slogan p {
        display: none;
    }
    .banner .sliden {
        margin-top: 20px;
    }
    .banner .uk-sticky-placeholder {
        display: none;
    }
    .main_menu_full {
        display: none;
    }
    .banner .strip_top_menu nav {
        display: none;
    }
    .mob-menu {
        display: block;
    }


    .strip_top_menu .top_cont {
        height: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        /*background: rgba(0, 0, 0, 0.8);*/
    }



}

@media(max-width: 900px) {
    .advantages .plus_panel {
        line-height: 50px;
    }
    .advantages .plus_panel p {
        display: none;
    }
    .advantages .plus_panel h4 {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 20px;
    }
}

@media(max-width: 767px) {
    .advantages_full .mt35 {
        margin-top: 20px;
    }
    .advantages h3 {
        margin-bottom: 25px;
    }
    .advantages_full {
        text-align: center;
    }
    .advantages .plus_logo {
        float: none;
    }
    .banner .header_top .header_top_block {
        padding: 0;
    }
    .header_top .left {
        float: none;
        text-align: center;
    }
    .header_top .left .logo {
        float: none;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .header_top .right {
        float: none;
        text-align: center;
    }

    .banner_index .header_top .right {
        display: none;
    }


    div.mob_connect p:nth-child(2) {
        display: none;
    }
    .header .header_top {
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .right {
        margin-top: 20px;
    }
    .header_top .left .text_logo .p2 {
        display: none;
    }

}

@media(max-width: 640px) {
    .banner .sliden {
        margin-top: 0;
    }
    .header_top .left .text_logo .p2,
    .header_top .right {
        display: none;
    }
    .strip_top_menu .mob_connect {
        float: right;
    }
    .header .strip_top_menu  .on_map {
        display: none;
    }

}

@media(max-width: 479px) {
    .banner .uk-position-cover {
        padding-bottom: 50px;
    }
    .banner .sliden .slogan h1 {
        font-size: 34px;
        line-height: 43px;
    }
    .strip_top_menu .on_map .atext {
        display: none;
    }
    .strip_top_menu .on_map img {
/*        height: 15px;*/
        display: none;
    }
    .strip_top_menu .mob_connect img {
        height: 20px;
    }
    .strip_top_menu .top_cont {
        /*height: 40px;*/
        /*padding-bottom: 10px;*/
        /*padding-top: 10px;*/
        background: rgba(0, 0, 0, 0.8);
    }

    .header .strip_top_menu .top_cont {
          background: rgba(21, 21, 21, 0.8);
    }

    .strip_top_menu .mob_connect {
        float: right;    
    }
    .strip_top_menu .mob_connect a.phone_orders {
        font: 400 18px Roboto;
        color: #ff9700;
        line-height: 19px;
    }
    .strip_top_menu .mob_connect a.phone_orders {
        text-decoration: none;
    }
    .top_cont {
        position: fixed;
        clear: both;
        z-index: 900;
        width:100%;
    }
    .slogan_block {
        display: none;
    }


}





/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-width: 320px) and (max-width: 480px) {
    /*Footer*/
    .dev-footer-container-correct {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .dev-footer-container-correct>ul {
        padding: 0;
        margin-left: 0;
    }
    .dev-footer-container-correct>ul>li>i {
        position: static;
    }
    .dev-footer-container-correct>ul>li>a {
        font-size: 14px;
    }
    .dev-footer-container-correct>ul>li>a>span {
        font-size: 14px;
    }
    .des-social-ico-container {
        width: 100%;
    }
    /*EndFooter*/
    /*Discount-form*/
    .dev-container-order-correct>h3 {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
    }
    .dev-container-order-correct .dev-but-submit-correct {
        font-size: 18px;
    }
    /*End_Discount-form*/
    /*Index_Category-cards*/
    .dev-container-material>div>h3 {
        font-size: 20px;
        line-height: 40px;
    }
    /*End index_Category-cards*/
    /*Product_content-delivery*/
    .des-contauner-content-delivery h3 {
        font-size: 20px;
        line-height: 30px;
    }
    ul>li>div.des-panel-discription {
        padding: 10px;
    }
    ul>li>div.des-panel-discription h3,
    h4 {
        text-align: center!important;
    }
    ul>li>div.des-panel-discription>div.des-test-visible>ul.uk-tab {
        display: none!important;
    }
    ul>li>div.des-panel-discription>div.des-test-visible>ul#des-panel-id>li>p {
        color: #616161;
        font-weight: 400;
        font-size: 20px;
        text-align: justify;
        line-height: 25px;
    }
    ul>li>div.des-panel-bottom {
        padding: 10px;
    }
    ul>li>div.des-panel-bottom>ul>li>input {
        width: 100%;
    }

    /*Product_det-concrete_pomp*/
    div.des-get-concrete-pomp>div.des-get-concrete-pomp-container>h3{
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 500;
        line-height: 29px;
    }

    /*Blog_article*/
    div.des-blog{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    div.des-blog>h3{
        font-size: 20px;
        line-height: 30px;
    }

    div.des-blog>div.des-blog-content > main > div.uk-panel-box{
        padding: 10px;
    }

    div.des-blog>div.des-blog-content > main > div.uk-panel-box> div.uk-panel-teaser{
        margin-left: -10px;
        margin-top: -10px;
        margin-right: -10px;
        margin-bottom: 10px;
    }

    div.des-blog>div.des-blog-content>main>div.uk-panel>p{
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
    }

    div.des-blog>div.des-blog-content > main > div.uk-panel-box> div.social>ul>li{
        text-align: center !important;
    }

    /*Blog_slider*/
    div.des-blog-slider ul>li>div.uk-panel>div.panel-body>h3{
        font-size: 16px;
        line-height: 25px;
    }

    div.des-blog-slider ul>li>div.uk-panel>div.panel-body>p{
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
    }
    /*Blog_slider*/
    div.des-blog-slider>div.slider_blog{
        top:0;
    }


    div.des-blog-slider>h3{
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 635px) {
    /*About-us*/
    .dev-consumer-about-us .dev-consumer-about-us-slider-correct ul>li>div.dev-consumer-about-us-panel-correct>h3 {
        margin: 10px;
        font-size: 18px;
    }
    .dev-consumer-about-us .dev-consumer-about-us-slider-correct ul>li>div.dev-consumer-about-us-panel-correct>p {
        margin: 10px;
        font-size: 14px;
    }
    .dev-consumer-about-us .dev-consumer-about-us-slider-correct ul>li>div.dev-consumer-about-us-panel-correct>.dev-consumer-about-us-panel-img-correct {
        max-width: 76px;
        max-height: 76px;
        right: 10px;
        bottom: -47px;
    }
    /*End about-us*/
    /*Index_Category-cards*/
    .dev-material-panel-head-correct {
        font-size: 12px;
        font-weight: 500;
    }
    .dev-material-panel-description {
        font-size: 14px;
    }
    /*End index_Category-cards*/
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*Index_Category-cards*/
    .dev-container-material>div>h3 {
        line-height: 40px;
    }
    /*End index_Category-cards*/
    /*Discount-form*/
    .dev-container-order-correct>h3 {
        line-height: 40px;
        font-size: 20px;
    }
    .dev-container-order-correct .dev-but-submit-correct {
        /*font-size: 18px;*/
    }
    /*End_Discount-form*/
    /*Footer*/
    .dev-footer-container-correct {
        width: 90%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    .dev-footer-container-correct>span {
        font-size: 30px;
    }
    .dev-footer-container-correct>ul {
        padding: 0;
        margin-left: 0;
    }
    .dev-footer-container-correct>ul>li>i {
        position: static;
    }
    .dev-footer-container-correct>ul>li>a {
        font-size: 20px;
    }
    .dev-footer-container-correct>ul>li>a>span {
        font-size: 23px;
    }
    .des-social-ico-container {
        width: 100%;
    }
    /*EndFooter*/
    /*Product_content-delivery*/
    .des-contauner-content-delivery h3 {
        font-size: 20px;
        line-height: 30px;
    }
    /*Product_det-concrete_pomp*/
    div.des-get-concrete-pomp>div.des-get-concrete-pomp-container>h3{
        line-height: 40px;
        font-size: 25px;
        margin-bottom: 20px;
    }

    /*Product_our-app*/

    div.des-our-app>div.des-our-app-content>h3{
        font-size: 27px;
    }
    div.des-our-app>div.des-our-app-content>div>div>ul>li>div.uk-panel>a.dev-but-order-correct{
        font-size: 16px;
    }
     div.des-our-app>div.des-our-app-content>div>div>ul>li>div.uk-panel>a.dev-but-about-correct{
        font-size: 11px;
    }

    /*Blog_article*/
    div.des-blog>h3{
        font-size: 20px;
        line-height: 30px;
    }

    div.des-blog>div.des-blog-content > main > div.uk-panel-box{
        padding: 10px;
    }

    div.des-blog>div.des-blog-content > main > div.uk-panel-box> div.uk-panel-teaser{
        margin-left: -10px;
        margin-top: -10px;
        margin-right: -10px;
        margin-bottom: 10px;
    }

    div.des-blog>div.des-blog-content>main>div.uk-panel>p{
        text-align: justify;
        font-size: 16px;
        line-height: 25px;
    }

    /*Blog_slider*/
    div.des-blog-slider>div.slider_blog{
        top:0;
    }


    div.des-blog-slider>h3{
        margin-bottom: 50px;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 960px) {
    /*Footer*/
    .dev-footer-container-correct {
        padding-left: 50px;
    }
    /*EndFooter*/
    /*Discount-form*/
    .dev-container-order-correct>h3 {
        line-height: 40px;
    }
    /*End_Discount-form*/
    /*Product_det-concrete_pomp*/
    div.des-get-concrete-pomp>div.des-get-concrete-pomp-container>h3{
        line-height: 40px;
        font-size: 25px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
    /*Footer*/
    .dev-footer-container-correct {
        padding-left: 25px;
    }
    .dev-footer-container-correct>ul>li>a {
        margin-left: 0;
    }
    .dev-footer-container-correct>ul>li>a {
        font-size: 14px;
    }
    .dev-footer-container-correct>ul>li>a>span {
        font-size: 15px;
    }
    /*EndFooter*/
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1024px) and (max-width:1176px) {
    /*Footer*/
    .dev-footer-container-correct {
        padding-left: 25px;
    }
    .dev-footer-container-correct>ul>li>a {
        margin-left: 0;
    }
    .dev-footer-container-correct>ul>li>a {
        font-size: 14px;
    }
    .dev-footer-container-correct>ul>li>a>span {
        font-size: 15px;
    }
    /*EndFooter*/
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
}













@media(min-width: 480px) {

    .banner_index .mob_connect {
        display: none;
    }

}

@media(min-width: 640px) {

    .header .mob_connect {
        display: none;
    }

}