.des-modal-send-container>div.uk-modal-dialog {
    max-height: 487px;
    max-width: 286px;
    margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 5px;
}

.des-modal-send-container>div.uk-modal-dialog>i.uk-icon-close {
    position: absolute;
    right: 20px;
}
.des-modal-send-container>div.uk-modal-dialog>div{
    display: block;
    margin: -20px -20px 20px -20px;
    width: auto;
}

.des-modal-send-container>div.uk-modal-dialog>h3{
    font-size: 19px;
    font-weight: 500;
    color: #212121;
}

.des-modal-send-container>div.uk-modal-dialog>p{
    font-size: 16px;
    font-weight: 400;
    color: #616161;
}
.des-modal-send-container>div.uk-modal-dialog>p>a{
    color: #ff9700;
}

.des-modal-send-container>div.uk-modal-dialog>p>a:hover{
    color: #ff9700;
    text-decoration: none;
}

.des-modal-send-container>div.uk-modal-dialog>a{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ff9700;
    float: right;
}

.des-modal-send-container>div.uk-modal-dialog>a:hover{
    text-decoration: none;
}
