.idea
/.idea
/.idea/*.xml
/.idea/*.iml
/.idea/copyright/*.xml


/css/components/*
/js/components/*
/js/core/*
*.psd
.gitignore
media-queries.css
charts
/mdl-template-dashboard
/simple-ripple-effect-master
/jquery
/video
*.orig
html-test.php
admin/*
uploads/*