.idea
/.idea
/.idea/*
/.idea/workspace.xml
/css/components/*
/js/components/*
/js/core/*
*.psd
.gitignore
media-queries.css
charts
/mdl-template-dashboard
/simple-ripple-effect-master
/jquery
/video
*.orig
html-test.php