.idea
/.idea
/.idea/*.xml
/.idea/*.iml
/.idea/copyright/*.xml


/css/components/*
/js/components/*
/js/core/*
*.psd
media-queries.css
charts
/mdl-template-dashboard
/simple-ripple-effect-master
/jquery
/video
*.orig
html-test.php
admin/*
uploads/*
adminnew/*
581f41d697659/*
stats/*
yandex_8b35357bbf045d33.html
sitemap.xml
robots.txt
58219b21a7f67/
581f41d697659/581f41d6976e0.png
*.zip
*.svg